/**
 * Base Styles
 */
* {
    box-sizing: border-box;
    position: relative;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

body {
  padding-top: 2.5rem;
  font-size: 1rem;
}

main {
  left: 3rem;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

@media (min-width: 992px) {
  body {
    padding-top: 2.5rem;
  }
}
