.navbar {
  height: 3rem;
  padding: 0 0.5rem;

  > .container,
  > .container-fluid {

  }
}

.navbar-laravel {
  background-color: $site-theme-color;
}

.navbar-brand {
  background-color: $site-theme-color;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.25rem 0.5rem 0.19rem 0.25rem;

  @include hover-focus {
    color: rgba(255, 255, 255, 0.9);
  }
}

.navbar-nav {
  // height: 3rem;

  .nav-item {}

  .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;

    @include hover-focus {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .feather {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .dropdown-menu {
    top: 2.95rem;
    margin: 0;
  }
}

.navbar-text {

}

.navbar-collapse {

}

.navbar-toggler {
  border: none;

  @include hover-focus {
    border: none;
    outline: none;
  }

  &:not(:disabled):not(.disabled) {

  }
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-push-toggler,
.navbar-toggler {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 3rem;
  height: 3rem;

  &.right-toggler {
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
  }

  .feather {
    height: 1.5rem;
    width: 1.5rem;
  }

  @include hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  @include hover-focus {
    outline: 0;
  }
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .container,
        > .container-fluid {

        }
      }

      @include media-breakpoint-up($next) {
        .navbar-nav {

          .dropdown-menu {

          }

          .nav-link {
            padding: 0.75rem;
            max-height: 3rem;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container,
        > .container-fluid {

        }

        .navbar-collapse {

        }

        .navbar-toggler {

        }
      }
    }
  }
}

.navbar-light {

  .navbar-brand {

    @include hover-focus {

    }
  }

  .navbar-nav {

    .nav-link {

      @include hover-focus {

      }

      &.disabled {

      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {

    }
  }

  .navbar-toggler {

  }

  .navbar-toggler-icon {

  }

  .navbar-text {
    a {

      @include hover-focus {

      }
    }
  }
}

.navbar-dark {

  .navbar-brand {
    color: rgba(255, 255, 255, 0.9);

    @include hover-focus {

    }
  }

  .navbar-nav {

    .nav-link {
      color: rgba(255, 255, 255, 0.9);

      @include hover-focus {

      }

      &.disabled {

      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {

    }
  }

  .navbar-toggler {
    color: rgba(255, 255, 255, 0.9);
  }

  .navbar-toggler-icon {
    background-image: none;
  }

  .navbar-text {
    a {

      @include hover-focus {

      }
    }
  }
}

@media (min-width: 320px) {
  .navbar-nav {

    .nav-item.dropdown {
      background-color: #343a40;

      .dropdown-menu {
        background-color: inherit;
        color: rgb(255, 255, 255);
      }
    }

    .nav-link {

      padding: 0.5rem 1rem;
    }

    .dropdown-menu {

      &.show {

      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav {

    .nav-item.dropdown {

      .dropdown-menu {
        background-color: inherit;
        color: rgb(255, 255, 255);
      }

      .dropdown-toggle {
        background-color: $site-theme-color;
      }
    }

    .nav-link {

    }

    .dropdown-menu {

      &.show {

      }
    }
  }
}
