/**
 * Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto");

/**
 * Variables
 */
@import "variables";

/**
 * Bootstrap
 */
@import '~bootstrap/scss/bootstrap';

/**
 * Modules
 */
@import "alert";
@import "base";
@import "card";
@import "dropdown";
//@import "forms";
@import "mce";
@import "navbar";
@import "pagination";
@import "scrollbar";
@import "select2";
@import "sidebar-navigation";
@import "tag";
@import "utilities";

.push-canvas {
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  overflow-x: hidden;
  position: relative;
  left: 3rem;

  &.pushed-left {
    left: -227px;
  }

  &.pushed-right {
    left: 227px;
  }
}

.navbar-push {
  &.navbar-push-left {
    right: 0;
  }

  &.navbar-push-right {
    left: 0;
  }
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  padding: 0.5rem 1rem;
}

/**
 * Application
 */
.multi-select {
  overflow-y: hidden;
}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}
